# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/.env
backend/.env.example

# Backup folders
frontend_local_backup/
backend_local_backup/
STATUS.md
backend/=0.26.0
backend/fix_coordinates.py
